logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
test/random*
test/admin.priv
test/admin.pub
test/gadr.priv
test/gadr.pub
app/assets/.idea/
public/*.jar