@(currentUser: User)
@import helper.twitterBootstrap._

@user(currentUser) {

<applet code="applet.InfosecApplet"
        id="applet"
        name="InfosecApplet"
        archive="/assets/infosecApplet.jar"
        width="10"
        height="10" >
</applet>

    <div class="clearfix" id="privateKeyPath_field">
        <label for="privateKeyPath">Caminho do arquivo com a chave privada:</label>
        <div class="input">

            <input type="file" id="privateKeyPath" name="privateKeyPath" maxlength="255">

            <span class="help-inline"></span>
            <span class="help-block"></span>
        </div>
    </div>

    <div class="clearfix" id="files_field">
        <label for="files">Caminho do arquivo com a chave privada:</label>
        <div class="input">

            <input type="file" id="files" name="files[]" multiple="">

            <span class="help-inline"></span>
            <span class="help-block"></span>
        </div>
    </div>

    <ul id="files-list">
    </ul>

    <script src='@routes.Assets.at("javascripts/files.js")' type="text/javascript"></script>
}