@main {

    <div class="row-fluid marketing">
        <div class="span12">
            <h4>Ultra-SAFE ™ ® Two Factor Authentication</h4>

            <div class="alert alert-error username hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Invalid username!</strong> Your username was not found.
            </div>

            <div class="alert alert-success username hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Username valid</strong>
            </div>

            <form action="/login" method="POST" class="" id="loginForm">
                <div class="control-group">
                    <input type="text" placeholder="Username" name="username" id="username"/>
                </div>
                <input type="submit" value="Login"/>
            </form>

            <div class="alert alert-error password hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Invalid password!</strong> Your password could not be verified.
            </div>

            <div class="alert alert-error password-length hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Invalid password length!</strong> Passwords must be 3 phonemes long.
            </div>

            <div class="alert alert-success password hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Password valid</strong>
            </div>

            <form action="/password" method="POST" class="" id="passwordForm">
                <div id="sec-keyboard"></div>
                <br>
                <input type="text" style="width: 320px" placeholder="Use the Infosec Keyboard" name="password" id="password" readonly>
                <br>
                <input type="button" value="Clear" id="clear-password">
                <input type="submit" value="Check Password"/>
            </form>

            <div class="alert alert-error signature hide">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Invalid private key!</strong> Your digital signature could not be verified.
            </div>

            <applet code="applet.InfosecApplet"
                    id="applet"
                    name="InfosecApplet"
                    archive="/assets/infosecApplet.jar"
                    width="10"
                    height="10" >
            </applet>

            <form action="/signature" method="POST" class="" id="checkSignature">
                <div class="control-group">
                <input type="file" placeholder="Private Key File" id="file"/>
                <input type="text" placeholder="Private Key Password" id="pkey-password" value="senhalonga"/>
                </div>
                <input type="submit" value="Check Digital Signature"/>
            </form>

        </div>
    </div>
    <script src='@routes.Assets.at("javascripts/login.js")' type="text/javascript"></script>

}
